
.element {
  min-height: 299px;

  position: relative;

  background-color: rgba($bg-element,1);

  color: $color-text-element;

  border: 1px solid rgba($border-element,$opacity-border-element);

  transform-style: preserve-3d;

  cursor: pointer;

  user-select: $blockText;

  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  &--animationRear{
    animation-name: rotateElementRear;
  }

  &--animationFront{
    animation-name: rotateElementFront;
  }
}

.element__header {

  padding: 20px 5px;

  text-align: center;
}

.element__img {
  display: block;
  width: 123px;
  height: 123px;

  margin: 0 auto 17px auto;
}

.element__title {
  margin: 0 0 15px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.element__description {
  min-width: 218px;
  max-height: 76px;
  overflow: hidden;

  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.element__footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 0 20px 0;

  background-color: rgba($bg-element,1);

  text-align: center;

  backface-visibility: hidden;

  transform: rotateY(180deg); // без этого свойства backface-visibility не сработает
}

.element__name {
  padding: 13px 0 12px;
  margin: 0 0 11px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  border-bottom: 1px solid rgba($border-element,$opacity-border-element);
}

.element__list {
  @include list();
}

.element__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child{
    margin: 0 0 13px 0;
  }
}

.element__text {
  margin: 0 0 15px 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  opacity: 0.8;
}

.element__quantity {
  min-width: 50px;

  padding: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  border: 2px solid $color-primary;
}

/* Стили для диаграммы круговой http://rendro.github.io/easy-pie-chart */

.element__chart {
  display: inline-block;
  width: 92px;
  height: 92px;

  position: relative;

  text-align: center;

  canvas{
    width: 91px;
    height: 91px;

    position: absolute;
    top: 0;
    left: 0;
  }
}

.element__percent{
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 91px;

  &::after{
    content: '%';
    font-size: .9em;
  }
}
