
.footer {
  background-color: $bg-footer;

  box-shadow: inset 0 4px 4px rgba($bg-footer-shadow, $opacity-footer-shadow);

  user-select: $blockText;

  &::before{
    content: "";

    margin-top: 1px;

    display: block;

    width: 100%;
    height: 1px;

    background-color: $bg-footer-shadow;
  }
}

.footer__inner {
  padding: 25px 0;

  @media (min-width: $viewport-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  @media (min-width: $viewport-lg) {
    padding: 30px 0;
  }

  @media (min-width: $viewport-xl) {
    padding: 45px 0;
  }
}

.footer__social {
  @include list();

  display: grid;
  grid-template-columns: repeat(auto-fit, 18px);
  justify-content: center;
  column-gap: 15px;

  margin: 0 0 15px 0;

  line-height: 0;

  @media (min-width: $viewport-md) {
    justify-content: start;

    margin-bottom: 0;
  }

  @media (min-width: $viewport-lg) {
    grid-template-columns: repeat(auto-fit, 20px);

    column-gap: 20px;
  }
}

.footer__social-item {

}

.footer__social-link {
  color: $color-icon-footer;

  text-decoration: none;

  opacity: 1;

  transition: color 0.25s ease, opacity 0.25s ease;

  &:hover{
    color: $color-icon-footer-hover;
  }

  &:focus{
    color: $color-icon-footer-hover;
  }

  &:active{
    opacity: 0.6;
  }
}

.footer__social-svg {
  width: 18px;
  height: 18px;

  fill: currentColor;

  @media (min-width: $viewport-lg) {
    width: 20px;
    height: 20px;
  }
}

.footer__copyright {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  opacity: 0.8;

  @media (min-width: $viewport-md) {
    text-align: right;
  }
}
