
.info{
  position: relative;
  z-index: 1;

  background-color: $bg-info;

  color: $color-text;

  user-select: $blockText;

  &::before{
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    background-image: url(../img/bg-info-xs.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.4;
    filter: brightness(90%);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg-info-xs@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg-info-xs@3x.png);
    }

    @media (min-width: $viewport-sm) {
      width: 81.59vw;
    }

    @media (min-width: $viewport-md) {
      width: 71.59vw;

      background-image: url(../img/bg-info-md.png);

      opacity: 0.55;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-info-md@2x.png);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-info-md@3x.png);
      }
    }

    @media (min-width: $viewport-lg) {
      width: 65vw;

      background-image: url(../img/bg-info-lg.png);

      @media (min-resolution: 2dppx) {
        background-image: url(../img/bg-info-lg@2x.png);
      }

      @media (min-resolution: 3dppx) {
        background-image: url(../img/bg-info-lg@3x.png);
      }
    }

    @media (min-width: $viewport-xl) {
      width: 50vw;

      opacity: 0.9;
      filter: brightness(100%);
    }
  }
}

.info__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 640px;

  @media (min-width: $viewport-md) {
    height: 100vh;
  }
}

.info__greetings{
  margin: 0 0 10px 0;

  font-size: 18px;
  line-height: 22px;

  @media (min-width: $viewport-sm) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 20px;
  }

  @media (min-width: $viewport-xl) {
    margin-bottom: 25px;

    font-size: 22px;
  }
}

.info__name{
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $viewport-sm) {
    margin-bottom: 13px;

    font-size: 36px;
    line-height: 42px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 15px;

    font-size: 55px;
    line-height: 55px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 20px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $viewport-xl) {
    margin-bottom: 25px;

    font-size: 65px;
    line-height: 65px;
  }
}

.info__profession{
  margin: 0 0 10px 0;

  font-size: 16px;
  line-height: 22px;

  color: $color-profession;

  @media (min-width: $viewport-sm) {
    margin-bottom: 15px;

    font-size: 20px;
  }

  @media (min-width: $viewport-md) {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $viewport-xl) {
    margin-bottom: 25px;
  }
}

.info__slogan{
  margin: 0 0 18px 0;

  font-weight: 300;

  opacity: 0.8;

  @media (min-width: $viewport-sm) {
    margin-bottom: 24px;
  }

  @media (min-width: $viewport-md) {
    max-width: 400px;
  }

  @media (min-width: $viewport-lg) {
    max-width: 450px;

    font-size: 16px;
  }
}

.info__button{
  align-self: flex-start;
}
