
.more {
  padding: 43px 0;

  background-color: $bg-more;

  border: 2px solid rgba($border-more,0.7);

  color: $color-text-more;

  user-select: $blockText;

  @media (min-width: $viewport-sm) {
    padding: 46px 0;
  }

  @media (min-width: $viewport-lg) {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;

    height: 100%;
  }
}

.more__title {
  margin: 0 0 25px 0;

  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;
  text-align: center;

  opacity: 0.8;

  @media (min-width: $viewport-sm) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $viewport-lg) {
    font-size: 17px;
    line-height: 20px;
  }
}

.more__text {
  margin: 0 0 25px 0;

  font-size: 12px;
  line-height: 14px;

  text-align: center;

  opacity: 0.5;

  @media (min-width: $viewport-sm) {
    font-size: 14px;
    line-height: 17px;
  }
}

.more__button {
  display: block;

  width: 163px;

  margin: 0 auto;

  @media (min-width: $viewport-lg) {
    width: 213px;
  }
}
