
//-----===== Базовые переменные ====-----//

// Стили шрифтов по умолчанию
$font-style-basic: normal;
$font-weight-basic: 400;
$font-size-basic: 15px;
$font-family-basic: "Rubik", sans-serif;

$line-height-basic: 26px;

// Контрольные точки
$viewport-xs: 575px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;

//================//========================================================================================//
// ПОЛИТРА ЦВЕТОВ // здесь собраны цвета которые используются один и более раз что бы избежать дублирования //
//================//========================================================================================//

$white: #ffffff;
$black: #000000;


//===================//==========================================================//
// ОБЩИЕ СТИЛИ САЙТА // если надо изменить какой то цвет глобально на всем сайте //
//===================//==========================================================//

// Фон | цвет первый: применяется "биография" "мои навыки" "подвал сайта" "карточка портфолио подробно"
$primary-bg: #0E0E17;

// Фон | цвет второй: применяется "первый экран" "портфолио" "контакты"
$secondary-bg: $black;

// Основной цвет текста: преимущественно используется для всего сайта
$text-color: $white;

// Цвет главный: голотип , пункты меню , бутерброд,
// первый экран: "Front-End разработчик",
// биография: "рамка лица" "интересный факт",
// мои навыки: "линия" "рамка вокруг количества проектов" "индикатор уровень владения",
// 404: "цифры 404"
$primary: #FF9301;

// Цвет вспомогательный: карточка портфолио подробно, контакты: иконки
$secondary: #FFB44E;

// Скопированный текст
$bgTextCopy: $white; // фон выделенного текста
$colorTextCopy: $primary; // цвет выделенного текста

// Заблокировать копировать текста: none - запретить |  auto - разрешить
$blockText: none;


//==================================//=====================================================//
// НАСТРОЙКА СТИЛЕЙ САЙТА ПО БЛОКАМ // если надо изменить локально однин определенный блок //
//==================================//=====================================================//

// ========= МЕНЮ САЙТА + ШАПКА =========== //

$bg-header: #0C0C14; // фон меню
$border-header: $white; $border-opacity-header: 0.1; // цвет рамки и прозрачность

//  Логогип
$text-logo: "HK"; // буквы логотипа
$bg-logo: $primary; // фон логотипа
$color-text-logo: $white; // цвет текста
$border-color: $black; $border-opacity: 0.42; // цвет обводки и прозрачность у букв логотипа

// Иконки меню
$color-icon: $white; // цвет иконок
$color-hover-icon: $primary; // цвет иконок при наведении
$color-menu-hint: #222222; // фон всплывающий подсказки
$text-menu-hint: $white; // цвет текста всплывающий подсказки

// Бургер
$bg-burger: $primary; // фон кнопки
$color-line: $white; // цвет линий бургера

// ========= ЗАГОЛОВОК (.title) =========== //

$title-color: $white; // цвет заголовка
$round: #E88E15; $round-opacity: 0.5; // цвет круга заголовка, прозрачность

// ========= ПЕРВЫЙ ЭКРАН (.info) =========== //

$bg-info: $black; // фон первого экрана
$color-text: $white; // основной цвет текста
$color-profession: $primary; // цвет параграфа profession(профессия)

// Кнопка
$bg-button: $white; // фон кнопки
$bg-button-hover: transparent; // фон кнопки при наведении
$border-button: $white; // цвет рамки кнопки
$text-button: $black; // цвет текста кнопки
$text-button-hover: $white; // цвет текста кнопки при наведении

// ========= БИОГРАФИЯ (.biography) =========== //

$bg-biography: $primary-bg; // фон биография
$border-biography: $primary; // рамка вокруг лица
$border-social: $white; // рамка вокруг иконок социальных сетей
$bg-border-social: $black; // фон иконок социальных сетей
$bg-border-social-hover: $primary; // фон иконок социальных сетей при наведении
$color-social-icon: $white; // цвет иконок
$color-text-biography: $white; $opacity-text-biography: 0.8;// цвет текста биографии и прозрачность
$color-fact: $primary; // цвет текста "Интересный факт"

// ========= ПОРТФОЛИО (.portfolio) =========== //

$bg-portfolio: $black; // фон порефолио

// Карточка привью портфолио
$bg-card: $primary-bg; // фон картички
$border-card: #969696; // рамка картички
$shadow-card: $black; $opacity-shadow-card: 0.2;// тень картички и прозрачность

$bg-die-card: $white; // фон плашки "На заказ | Для души"
$border-die-card: #969696; // рамка плашки "На заказ | Для души"
$color-die-text: $black; $opacity-die-text: 0.9; // цвет текста плашки и прозрачность

$color-link-card: $white; $opacity-link-card: 0.8;// цвет ссылок и прозрачность
$color-link-card-hover: $black; $opacity-link-card-hoverBG: 0.8;// цвет фона и прозрачность фона при наведении на ссылку

// Табы
$color-tab: $white; // цвет табов "Все | На заказ | Для души"
$bg-line-tab: $primary; // цвет линии "Все | На заказ | Для души"

/* Показать еще */
$bg-more: $primary-bg; // фон картички "Показать еще"
$border-more: #969696; // рамка картички "Показать еще"
$color-text-more: $white; // цвет текста

// ========= МОИ НАВЫКИ (.skills) =========== //

$bg-skills: $primary-bg; // фон "Мои навыки"
$bg-line-skills: $primary; // цвет линии

// Картичка навыков
$bg-element: #13131c; // фон карточки
$border-element: #868686; $opacity-border-element: 0.15; // рамка картички
$color-text-element: $white; // цвет текста карточки основной
$color-primary: $primary; // цвет вспомогательный

$bg-color-slider-bar: $black; // фон ползунка переключения слайдера

// ========= КОНТАКТЫ (.contacts) =========== //

$bg-contacts: $black; // фон Контакты
$color-contacts: $white; // цвет текста
$color-icon-contacts: $secondary; // цвет иконок

// ========= ПОДВАЛ (.footer) =========== //

$bg-footer: $primary-bg; // фон Подвал
$bg-footer-shadow: $black; $opacity-footer-shadow: 0.25;// тень подвала и прозрачность тень и линии сверху

$color-icon-footer: $white; // цвет иконок социальных сетей
$color-icon-footer-hover: $primary; // цвет иконок при наведении

// ========= МОДАЛЬНОЕ ОКНО (КАРТОЧКА ПОРТФОЛИО) (.modal) =========== //

$bg-modal: $primary-bg; // фон Карточка портфолио
$bg-gradient-first: $black; $bg-gradient-last: $primary-bg; // градиент
$color-text-modal: $white; // цвет текста и линии
$color-title-modal: $secondary; // цвет всех заголовков
$bg-technology-modal: $white; $opacity-technology-modal: 0.08;// технологии фон и прозрачность

// ========= СТРАНИЦА 404 (.gag) =========== //

$bg-gag: $primary-bg; // фон 404
$bg-gradient-first-gag: $black; $bg-gradient-last-gag: $primary-bg; // градиент
$color-text-gag: $white; // цвет текста
$color-number-gag: $primary; // цвет цифр и рамки

