
footer.footer
  .container
    .footer__inner

      ul.footer__social
        each item in jsonFooter.social
          li.footer__social-item
            a(href=item.link, aria-label=item.name, rel="noopener", target="_blank").footer__social-link
              svg(aria-hidden="true", width="18", height="18").footer__social-svg
                use(xlink:href="assets/img/sprite.svg#" + item.icon)

      p.footer__copyright= jsonFooter.copyright

// /.footer
